table {
    /* Para que los bordes se unan porque esta colapsado */
    border-collapse: collapse;
    /* Borde exterior de la tabla de 2 pixeles de color gris */
    border: 2px solid rgb(200, 200, 200);
    /* Separacion entre letras */
    letter-spacing: 1px;
    /* Tamaño de fuente un poco mas chico */
    font-size: 0.8rem;
}
td, th {
    /* Borde interior de la tabla de 1 pixele de color gris levemente mas oscuro, que se va a pegar al borde exterior de la tabla porque esta colapsado */
    border: 1px solid rgb(190, 190, 190);
    /* Separacion interno entre las filas y columnas */
    padding: 10px 20px;
}
th {
    /* Borde interior de la tabla de 1 pixele de color gris levemente mas oscuro, que se va a pegar al borde exterior de la tabla porque esta colapsado */
    border: 1px solid rgb(190, 190, 190);
    /* Separacion interno entre las filas y columnas */
    padding: 10px 20px;
    /* El color de fondo es el gris mas oscuro */
    background-color: grey;
}